.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1400px; /* Ограничиваем ширину */
  width: 100%; /* Заполняем доступное пространство */
  margin: 15px auto;
  padding: 0 20px; /* Отступы от краёв экрана */
}

.custom-img {
  width: 70%;
  height: 40%;
  object-fit: contain;
  background-color: white; /* Цвет фона для пустых зон */
  border-radius: 10px;
  align-self: center;
  margin-top: 10px;
}

.custom-card {
  height: 350px;
  border-width: 2px;
  border-color: #b9c6ff;
}

.menu-container {
  padding-top: 30px;
}

.btn:hover {
  border-color: rgba(0, 123, 255, 0.5);
}