.App {
  font-family: sans-serif;
  text-align: center;
}

.custom-img {
  width: 70%;
  height: 40%;
  object-fit: contain;
  background-color: white; /* Цвет фона для пустых зон */
  border-radius: 10px;
  align-self: center;
}

.custom-card {
  height: 350px;
}

.cart-button {
  background: #dfb1ff;
}

.main-button {
  background: #ffff40;
}

